<mat-list class="person-list">
  <mat-list-item *ngFor="let person of persons$ | async" class="person-item">
    <mat-card (click)="onSelect(person)" class="person-tile">
      <mat-card-header>
        <mat-icon>perm_identity</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p>{{person.forename}}</p>
        <p>{{person.name}}</p>
      </mat-card-content>
    </mat-card>
  </mat-list-item>
  <mat-list-item (click)="onAdd()" *ngIf="!add" class="person-item">
    <mat-card class="person-tile">
      <mat-card-content>
        <mat-icon>add</mat-icon>
      </mat-card-content>
    </mat-card>
  </mat-list-item>
</mat-list>
<div *ngIf="add">
  <person-edit></person-edit>
</div>
